@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="jumbotron mt-5 bg-dark text-light">
    <h1 class="display-4">Welcome to the Huddle booking app</h1>
    <p class="lead">
        Now you can book a desk for a full day in our huddle office in Managua. Enjoy your working day from one of the freshest and quitest places in the city,
        free coffee included. You can also opt in to use our nice meeting roooms which include a nice 50" TV, a table and comfortable chairs for up to 10 people and even a private bathroom.
    </p>
    <hr class="my-4">
    <a href="/bookDesk" class="btn btn-primary">Book a desk or a meeting room</a>
</div>